
.searchBox{
    max-width: 30rem;
     max-height: 30rem;
      height:max-content;
       width:30rem;
       top:3.4rem;
       background-color:#f5f6f7;
       z-index:100;
       overflow-y: scroll;
       overflow-x: hidden;
}

.list{
    list-style: none;
    padding: 1rem;
     /* border: 0.1rem solid black; */
     height: 5rem;
     margin: 0.3rem 0;
     font-weight: 500;
     cursor: pointer;
}