<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" style="width:3rem;height: 3rem;" />
            ShadeSavvy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    style="width: 30rem;" name="search" (input)="inputData($event)" autocomplete="off">
                <!-- <div class="position-absolute searchBox" *ngIf="showSearchBox == true">
                    <ul class="position-relative" style="top:0rem;left:-2rem;width:32rem">

                        @if(searchData.length > 0){
                        <li [routerLink]="['/product_details', search_data._id]" *ngFor="let search_data of searchData"
                            class="list">
                            <img [src]="search_data.imgUrl" style="width: 2rem; height: 2rem;" />
                            {{ search_data.title }}
                        </li>
                        }
                       

                    </ul>
                </div> -->
                <button (click)="search_query()" class="btn btn-outline-success mx-3 " type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if(token == null){

                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" routerLink="/login">Login/Register</a>
                </li>
                }@else {

                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" (click)="logOut()">Log Out</a>
                </li>
                }

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/checkout" role="button" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" />
                        </svg>
                        Track Order
                    </a>
                </li>
                <li class="nav-item mx-5" routerLink="/cart">

                    <a class="nav-link active" aria-disabled="true" style="font-size: 1.2rem;"> <button type="button"
                            class="btn  position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart-dash mx-2" viewBox="0 0 16 16">
                                <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z" />
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                            Cart
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{cart_length}}
                            </span>
                        </button></a>
                </li>
            </ul>

        </div>
    </div>
</nav>