<div style="background-color: #eeeeee;overflow: hidden;height:100vh">
    <app-navbar></app-navbar>
    <div class="row">
        <h3 class="mx-5 my-5">Your Addresses</h3>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 btn mx-0 mx-md-5" routerLink="/user_details">
                <div class="card p-5">
                    <h1 class="text-center">+</h1>
                    <h4 class="text-center">Add Address</h4>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mx-0 mx-md-5">
                <div class="card">
                    <div class="card-body">
                        <h6>Kartik Goyal</h6>
                        <p>Floor 3
                            A 167 B Gali no 4 kabir Nagar near maujpur
                            NEW DELHI, DELHI 110094
                            India</p>
                        <p>Phone Number: 9958919447</p>

                        <button class="btn" style="color: green ;font-weight: bold;"
                            routerLink="/user_details">Edit</button>
                        <button class="btn" style="color:red;font-weight: bold;">Remove</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>