<div style="overflow:hidden">
    <app-navbar></app-navbar>
    <div class="">
        <div class="row">
            <h6 class="mx-5 my-3" style="color: #529c4b;">Order Details</h6>
            <h4 class="mx-5">Order #{{orderDetails.orderId.slice(-6)}}</h4>
        </div>
        <div class="col-12">
            <div class="card mx-4">
                <h3 class="my-3 mx-3">Order#{{orderDetails.orderId.slice(-6)}}</h3>
                <button class=" btn mx-3"
                    style="color: #7b8af5;background-color: #eef4ff;width:10rem;font-size: 0.8rem;">Ready For
                    Ship
                </button>

                <div class="row mx-3 my-4">
                    <div class="col-2  text text-center p-1">Paid on: <span style="font-weight: lighter;"> 2024-02-13,
                            12:56
                        </span></div>
                    <div class="col-2 mx-5 text text-center p-1">Placed on: <span style="font-weight: lighter;">
                            2024-02-13,
                            12:56 </span></div>
                    <div class="col-2 text text-center p-1">Updated: <span style="font-weight: lighter;"> 2024-02-13,
                            12:56
                        </span></div>
                </div>
            </div>

            <div class="row mx-3 my-4">
                <div class=" card col-3 mx-5">
                    <h4 class="m-3 text-start">CUSTOMER & ORDER</h4>
                    <div class="row">
                        <div class="col-4 text-start" style="font-weight: 500;">Name</div>
                        <div class="col-1 text-center">:</div>
                        <div class="col-7 text-start" style="color:grey">Kartik Goyal</div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4 text-start" style="font-weight: 500;">Email</div>
                        <div class="col-1 text-center">:</div>
                        <div class="col-7 text-start" style="color:grey">kartikgoyal0852gmail.com</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 text-start" style="font-weight: 500;">Phone</div>
                        <div class="col-1 text-center">:</div>
                        <div class="col-7 text-start" style="color:grey">+91 9958919447</div>
                    </div>

                </div>
                <div class="card col-3 mx-5">
                    <h4 class="m-3">SHIPPING ADDRESS</h4>

                    <span style="color:grey">Suite 344 58602 Mac Vista, Kilbackmouth, MO 72923-8944</span>
                </div>
                <div class="card col-3 mx-5">
                    <h4 class="m-3">BILLING ADDRESS</h4>

                    <span style="color:grey">2 étage, 9 Carrefour De Verdun, 92751 Bobigny</span>
                </div>

            </div>

            <div class="card mx-4 my-4">
                <div class="card-header">
                    <div class="row" style="font-size: 0.9rem; font-weight: 700;">
                        <div class="col-2">ITEM NAME</div>
                        <div class="col-2">ID</div>
                        <div class="col-2">LOCATION</div>
                        <div class="col-2 text-center">QUANTITY</div>
                        <div class="col-2 text-center">PRICE</div>
                        <div class="col-2 text-center">Total</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="font-size: 0.9rem; font-weight: 500;">
                        <div class="col-2">{{orderDetails.title}}
                        </div>
                        <div class="col-2">{{orderDetails._id.slice(-6)}}</div>
                        <div class="col-2">Delhi,India</div>
                        <div class="col-2 text-center">{{orderDetails.quantity}}</div>
                        <div class="col-2 text-center">{{orderDetails.finalPrice}}</div>
                        <div class="col-2 text-center">{{orderDetails.quantity * orderDetails.finalPrice}}</div>
                    </div>
                    <div class="row my-4" style="font-size: 0.9rem; font-weight: 500;">
                        <div class="col-2">{{orderDetails.quantity * orderDetails.finalPrice > 1000 ? 'Free Shippinng' :
                            "Shipping Charges"}}
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2 text-center"></div>
                        <div class="col-2 text-center">Shipping Handing</div>
                        <div class="col-2 text-center">{{orderDetails.quantity * orderDetails.finalPrice > 1000 ? '0' :
                            "70"}}</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row my-2" style="font-size: 0.9rem; font-weight: 500;">
                        <div class="col-2">Currency: INR
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2 text-center"></div>
                        <div class="col-2 text-center">Total</div>
                        <div class="col-2 text-center">{{orderDetails.quantity * orderDetails.finalPrice}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>